-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: kdnvpp
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `office_supplies`
--

DROP TABLE IF EXISTS `office_supplies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `office_supplies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `unit` varchar(255) NOT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `stock_quantity` int(11) NOT NULL DEFAULT 0,
  `category` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `office_supplies_name_index` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `office_supplies`
--

LOCK TABLES `office_supplies` WRITE;
/*!40000 ALTER TABLE `office_supplies` DISABLE KEYS */;
/*!40000 ALTER TABLE `office_supplies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `request_items`
--

DROP TABLE IF EXISTS `request_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `request_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `supply_request_id` bigint(20) unsigned NOT NULL,
  `office_supply_id` bigint(20) unsigned NOT NULL,
  `quantity` int(11) NOT NULL,
  `purpose` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `request_items_supply_request_id_index` (`supply_request_id`),
  KEY `request_items_office_supply_id_index` (`office_supply_id`),
  KEY `request_items_supply_request_id_office_supply_id_index` (`supply_request_id`,`office_supply_id`),
  CONSTRAINT `request_items_office_supply_id_foreign` FOREIGN KEY (`office_supply_id`) REFERENCES `office_supplies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `request_items_supply_request_id_foreign` FOREIGN KEY (`supply_request_id`) REFERENCES `supply_requests` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `request_items`
--

LOCK TABLES `request_items` WRITE;
/*!40000 ALTER TABLE `request_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `request_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stop_score_histories`
--

DROP TABLE IF EXISTS `stop_score_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stop_score_histories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stop_id` bigint(20) unsigned NOT NULL,
  `scored_by` bigint(20) unsigned DEFAULT NULL,
  `scorer_type` varchar(50) NOT NULL,
  `scorer_role` varchar(50) DEFAULT NULL,
  `previous_priority_level` tinyint(3) unsigned DEFAULT NULL,
  `priority_level` tinyint(3) unsigned DEFAULT NULL,
  `note` text DEFAULT NULL,
  `scored_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `stop_score_histories_scored_by_foreign` (`scored_by`),
  KEY `stop_score_histories_stop_scored_at_idx` (`stop_id`,`scored_at`),
  KEY `stop_score_histories_type_scored_at_idx` (`scorer_type`,`scored_at`),
  CONSTRAINT `stop_score_histories_scored_by_foreign` FOREIGN KEY (`scored_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stop_score_histories_stop_id_foreign` FOREIGN KEY (`stop_id`) REFERENCES `stops` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stop_score_histories`
--

LOCK TABLES `stop_score_histories` WRITE;
/*!40000 ALTER TABLE `stop_score_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `stop_score_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stops`
--

DROP TABLE IF EXISTS `stops`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stops` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `issue_category` varchar(255) NOT NULL COMMENT 'Loß║íi vß║Ñn ─æß╗ü STOP',
  `priority_level` tinyint(4) DEFAULT NULL COMMENT 'Mß╗⌐c ─æß╗Ö quan trß╗ìng: 0=Cao nhß║Ñt, 1=Cao, 2=Trung b├¼nh, 3=Thß║Ñp. NULL=Ch╞░a chß║Ñm',
  `priority_scored_by` bigint(20) unsigned DEFAULT NULL,
  `priority_scored_at` timestamp NULL DEFAULT NULL,
  `shift_leader_scored_by` bigint(20) unsigned DEFAULT NULL,
  `shift_leader_scored_at` timestamp NULL DEFAULT NULL,
  `shift_leader_priority_level` tinyint(3) unsigned DEFAULT NULL,
  `shift_leader_note` text DEFAULT NULL,
  `safety_officer_scored_by` bigint(20) unsigned DEFAULT NULL,
  `safety_officer_scored_at` timestamp NULL DEFAULT NULL,
  `safety_officer_priority_level` tinyint(3) unsigned DEFAULT NULL,
  `safety_officer_note` text DEFAULT NULL,
  `observer_name` varchar(255) NOT NULL COMMENT 'T├¬n ng╞░ß╗¥i quan s├ít',
  `observer_phone` varchar(255) DEFAULT NULL COMMENT 'Ca/k├¡p ng╞░ß╗¥i quan s├ít',
  `observation_date` date NOT NULL COMMENT 'Ng├áy quan s├ít',
  `observation_time` time DEFAULT NULL COMMENT 'Giß╗¥ quan s├ít',
  `location` varchar(255) NOT NULL COMMENT 'Vß╗ï tr├¡',
  `equipment_name` varchar(255) DEFAULT NULL COMMENT 'T├¬n thiß║┐t bß╗ï',
  `issue_description` text NOT NULL COMMENT 'Vß║Ñn ─æß╗ü ghi nhß║¡n',
  `corrective_action` text NOT NULL COMMENT 'H├ánh ─æß╗Öng khß║»c phß╗Ñc',
  `status` enum('open','in-progress','completed') NOT NULL DEFAULT 'open' COMMENT 'Trß║íng th├íi',
  `completion_date` date DEFAULT NULL COMMENT 'Ng├áy ho├án th├ánh',
  `notes` text DEFAULT NULL COMMENT 'Ghi ch├║',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `stops_user_id_foreign` (`user_id`),
  KEY `stops_priority_scored_by_foreign` (`priority_scored_by`),
  KEY `stops_observer_phone_idx` (`observer_phone`),
  KEY `stops_issue_category_idx` (`issue_category`),
  KEY `stops_status_idx` (`status`),
  KEY `stops_observation_date_idx` (`observation_date`),
  KEY `stops_created_at_idx` (`created_at`),
  KEY `stops_priority_level_idx` (`priority_level`),
  KEY `stops_shift_date_idx` (`observer_phone`,`observation_date`),
  KEY `stops_shift_leader_scored_by_foreign` (`shift_leader_scored_by`),
  KEY `stops_safety_officer_scored_by_foreign` (`safety_officer_scored_by`),
  CONSTRAINT `stops_priority_scored_by_foreign` FOREIGN KEY (`priority_scored_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stops_safety_officer_scored_by_foreign` FOREIGN KEY (`safety_officer_scored_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stops_shift_leader_scored_by_foreign` FOREIGN KEY (`shift_leader_scored_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stops_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stops`
--

LOCK TABLES `stops` WRITE;
/*!40000 ALTER TABLE `stops` DISABLE KEYS */;
/*!40000 ALTER TABLE `stops` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supply_requests`
--

DROP TABLE IF EXISTS `supply_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `supply_requests` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `request_code` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `requester_name` varchar(255) NOT NULL,
  `requester_email` varchar(255) NOT NULL,
  `requester_position` varchar(255) DEFAULT NULL,
  `request_date` date DEFAULT NULL,
  `department` varchar(255) DEFAULT NULL,
  `requester_department` varchar(255) NOT NULL,
  `priority` enum('low','normal','high','urgent') DEFAULT 'normal',
  `needed_date` date DEFAULT NULL,
  `period` int(11) DEFAULT NULL COMMENT 'Kß╗│ (th├íng 1-12)',
  `notes` text DEFAULT NULL,
  `status` varchar(50) NOT NULL,
  `forwarded_at` timestamp NULL DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `tchc_checked_at` timestamp NULL DEFAULT NULL,
  `tchc_approved_at` timestamp NULL DEFAULT NULL,
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `tchc_checker_id` bigint(20) unsigned DEFAULT NULL,
  `tchc_manager_id` bigint(20) unsigned DEFAULT NULL,
  `approval_notes` text DEFAULT NULL,
  `tchc_check_notes` text DEFAULT NULL,
  `tchc_approval_notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `supply_requests_request_code_unique` (`request_code`),
  KEY `supply_requests_user_id_foreign` (`user_id`),
  KEY `supply_requests_approved_by_foreign` (`approved_by`),
  KEY `supply_requests_tchc_checker_id_foreign` (`tchc_checker_id`),
  KEY `supply_requests_tchc_manager_id_foreign` (`tchc_manager_id`),
  KEY `supply_requests_status_approved_at_index` (`status`,`approved_at`),
  KEY `supply_requests_requester_department_status_index` (`requester_department`,`status`),
  KEY `supply_requests_created_at_index` (`created_at`),
  KEY `supply_requests_approved_at_index` (`approved_at`),
  KEY `supply_requests_tchc_checked_at_index` (`tchc_checked_at`),
  CONSTRAINT `supply_requests_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`),
  CONSTRAINT `supply_requests_tchc_checker_id_foreign` FOREIGN KEY (`tchc_checker_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supply_requests_tchc_manager_id_foreign` FOREIGN KEY (`tchc_manager_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `supply_requests_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supply_requests`
--

LOCK TABLES `supply_requests` WRITE;
/*!40000 ALTER TABLE `supply_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `supply_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `full_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `department` varchar(255) DEFAULT NULL,
  `position` varchar(255) DEFAULT NULL,
  `role` enum('employee','approver','admin','tchc_checker','tchc_manager') DEFAULT 'employee',
  `is_tchc_checker` tinyint(1) NOT NULL DEFAULT 0,
  `is_tchc_manager` tinyint(1) NOT NULL DEFAULT 0,
  `phone` varchar(255) DEFAULT NULL,
  `zalo_user_id` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_department_index` (`department`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-03 14:18:18
